{% block contents %}
  <div class="wrapper">
    <div class="intro">
      <h3 id="page-title">
	        <p>Tagged Questions List</p>
      </h3>
    </div>
  </div>
   {{tag.tag}}

{% for question in questions %}
    {% for tag in question.taginquestionlist%}
      pp{{tag}}
    {% endfor %}
{% endfor %}
   
   
  <div class="content">
    {% for question in questions %} 
        
        {% if tag.tag in question.taginquestionlist %}
        <div class="block">
        <h3><a href="/view/{{question.key().id()}}">{{question.questionname}}</a></h3>
        {% if username == question.ownername %}
          <a href="/editquestion/{{question.key().id()}} "><input type='button' value="Edit"></a>
        {% endif %}
        </div>
        <div class="body"> {{question.content|truncate(500)}}</div>
        <div>Created by {{question.created_time.strftime("%d %b %Y %H:%M:%S EST")}}</div>
        <div>Last modified by: {{question.modifytimeinEST().strftime("%d %b %Y %H:%M:%S EST")}}</div>
        <div>by {{question.ownername}} </div>
        {% endif %}
    {% endfor %}
    
    <div>
      {% if cursor %}
         <a href="?cursor={{cursor}}">Next Page</a>
      {% endif %}
    </div>
  </div>
{% endblock %}